<h3 class= "text-center"> Students in Upcoming Camp </h3>

	<table class="table">
	  <tr>
	    <th>Name</th>
	    <th>Rating</th>
	  </tr>

	<% @instructor_students.each do |student| %>
	  <tr>
	    <td><%= link_to student.name, student_path(student) %></td>
	    <td><%= student.rating != 0 ? student.rating.to_s : "Unrated" %></td>
	  </tr>
	<% end %>
</table>
