<h2>About Chess Champ</h2>

<p> Professor Heimann's sons (twins Alex and Mark) are continuing their entrepreneurial ways by starting up the A and M Chess Camp Company and hope that in time these camps will expand across Pittsburgh and in time, across the country. Through their teachings from Professor Heimann himself, Alex and Mark look to develop the Chess Skills of children in the greater Pittsburgh community.</p>

<h3>Past Campers</h3>
<div class= "row">
	<div class="small-4 small-centered columns">
		<ul class="slide-orbit" data-orbit>
		  <li>
		    <%=image_tag("AlexPlaying1.jpg")%>
		    <div class="orbit-caption">
		      Alex making a move
		    </div>
		  </li>
		  <li>
		    <%=image_tag("Bobby1.jpg")%>
		    <div class="orbit-caption">
		      Bobby thinks
		    </div>
		  </li> 
		  <li>
		    <%=image_tag("Kelsey5.jpg")%>
		    <div class="orbit-caption">
		      Kelsey moving a piece
		    </div>
		  </li>
		  <li>
		    <%=image_tag("Sarah2.jpg")%>
		    <div class="orbit-caption">
		      Sarah thinking
		    </div>
		  </li>
		</ul>
	</div>
</div>

<p>
	Those who want to register their child for chess camp can do so via this website. This website also allows parents and other users to view camps and curriculums taught by this Chess Camp as well. 
</p>


<h3>Notable Chess Quotes</h3>
<dl class="tabs" data-tab> 
	<dd class="active"><a href="#panel2-1">GM Dr. Siegbert Tarrasch</a></dd> 
	<dd><a href="#panel2-2">GM Maurice Ashley</a></dd> 
	<dd><a href="#panel2-3">Paul Morphy</a></dd> 
	<dd><a href="#panel2-4">David Letterman &#931;&#935;</a></dd> 
</dl> 
	<div class="tabs-content"> 
		<div class="content active" id="panel2-1"> 
			<p>"Chess, like love, like music, has the power to make us happy."</p> 
		</div> <div class="content" id="panel2-2"> 
			<p>"Chess is intellectual karate."</p> 
		</div> <div class="content" id="panel2-3"> 
			<p>"Checkers is for tramps."</p> 
		</div> 
		<div class="content" id="panel2-4"> 
			<p>"There just isn't enough televised chess."</p> 
		</div> 
	</div>
